body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    width: 50%;
    background-image: url(images/);
}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: grey;
}

span {
    color: orange;
}

#utf {
    color: white;
    background-image: linear-gradient(to left, orange, red);
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
    text-shadow: 10px green;
    font-weight: 700;

}

#size-set {
    padding-top: 3cm;
    padding-left: 2cm;
}